.card-text{
    font-size: medium;
    font-weight: italic;
    font-family: 'New Rocker', cursive;
}

h1{
    font-family: 'News Rocker', cursive;
}

.card-title{
    font-family: 'New Rocker', cursive;
    font-weight: bold;
    color: black; 